<!-- footer styles -->
<style>
      @media only screen and (max-width: 991.5px) {
        footer{
          font-size: small
        }
      }
      @media only screen and (max-width: 456px) {
        footer{
          font-size: 0.7em
        }
      }
      @media only screen and (max-width: 380px) {
        footer{
          font-size: 0.6em
        }
      }

      html,
      body {
        height: 100%;
        margin: 0;
      }
      .wrapper {
        min-height: 100%;

        /* Equal to height of footer */
        /* But also accounting for potential margin-bottom of last child */
        margin-bottom: -230px;
      }
      .footer_css_tricks,
      .push {
        height: 260px;
      }

      hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.75),
          rgba(0, 0, 0, 0)
        );
      }
    </style>
<footer class="footer_css_tricks">
      <div class="container text-center fst-italic">
        <hr class="mb-xl-5" />
        <span class="text-muted">UG Final Year Project Work @2025 </span>
        <!-- <br /> -->
        <span class="text-muted"
          >Jadavpur University, Department of Information Technology,
          Kolkata</span
        >
        <br />
        <span class="text-muted">[Short Weirstrass Curve Implementation] </span>
        <br />
        <span class="text-muted">
          Developed By : Imamul Hasan
          <a href="mailto: imamulhasan9748@gmail.com"
            >imamulhasan9748@gmail.com</a
          >
          & Md Aqib
          <a href="mailto: mdaqib@gmail.com">mdaqib@gmail.com</a>
          & Mayank Verma
          <a href="mailto: mayankdeo1702@gmail.com">mayankdeo1702@gmail.com</a>
        </span>
        <br />
        <span class="text-muted"
          >Under the guidance of Prof. Utpal Kumar Ray
          <a href="mailto: utpal.ray@jadavpuruniversity.in"
            >utpal.ray@jadavpuruniversity.in</a
          >
          <!-- <br /> -->
          , Mentorship of Mr Sujay Kumar Paul
          <a href="mailto: sujaykumarpaul@gmail.com"
            >sujaykumarpaul@gmail.com</a
          >
        </span>
      </div>
    </footer>